/*header*/
.header {
    background-color: #F9FADC;
}

    .header .fix .row nav ul {
        list-style: none;
        padding-top: 20px;
    }

        .header .fix .row nav ul li {
            margin: 0 0 0 50px;
            position: relative;
        }

            .header .fix .row nav ul li a {
                color: black;
                font-size: 18px;
                transition: 0.5s;
            }

                .header .fix .row nav ul li a::after {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 3px;
                    background: #222;
                    bottom: 0;
                    background: #CD2122;
                    left: -100%;
                    display: none;
                    transition: 1s;
                }

                .header .fix .row nav ul li a:hover a:hover::after {
                    content: '';
                    position: absolute;
                    display: block;
                    left: 0;
                }

/*body khoa học công nghệ*/
.suKien .container .suKienTitle {
    width: 100%;
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
    background-color: #CD2122;
    color: white;
    text-align: center;
    margin: 40px 0;
}

.suKien .container .suKienContent .rowLon .suKienLeft .suKienItemLeft {
    margin-bottom: 20px;
}

    .suKien .container .suKienContent .rowLon .suKienLeft .suKienItemLeft .rowLeft .col-lg-5 img {
        width: 348px;
        height: 167px;
    }

    .suKien .container .suKienContent .rowLon .suKienLeft .suKienItemLeft .rowLeft .col-lg-7 .itemTitle {
        font-weight: 600;
        font-size: 17px;
        transition: .5s;
    }

        .suKien .container .suKienContent .rowLon .suKienLeft .suKienItemLeft .rowLeft .col-lg-7 .itemTitle:hover {
            color: #CD2122;
            cursor: pointer;
        }

    .suKien .container .suKienContent .rowLon .suKienLeft .suKienItemLeft .rowLeft .col-lg-7 .itemText {
        margin-top: 10px;
    }

        .suKien .container .suKienContent .rowLon .suKienLeft .suKienItemLeft .rowLeft .col-lg-7 .itemText img {
            width: 20px;
            height: 20px;
        }

.suKien .container .suKienContent .rowLon .suKienLeft .suKienRight .title {
    font-weight: 600;
    font-size: 17px;
}

.suKien .container .suKienContent .rowLon .suKienLeft .suKienRight .content .suKienItemRight {
    margin-bottom: 20px;
}

    .suKien .container .suKienContent .rowLon .suKienRight .content .suKienItemRight .rowRight .col-lg-5 {
        padding: 5px;
        background: #CD2122;
        color: white;
    }

        .suKien .container .suKienContent .rowLon .suKienRight .content .suKienItemRight .rowRight .col-lg-5 p {
            font-size: 30px;
            font-weight: 500;
            margin: 0 0 0 10px;
        }

        .suKien .container .suKienContent .rowLon .suKienRight .content .suKienItemRight .rowRight .col-lg-5 span {
            font-size: 17px;
            margin: 0 0 0 10px;
        }

        .suKien .container .suKienContent .rowLon .suKienRight .content .suKienItemRight .rowRight .col-lg-5 hr {
            margin: 2px;
        }

    .suKien .container .suKienContent .rowLon .suKienRight .content .suKienItemRight .rowRight .col-lg-7 {
        font-weight: 600;
        transition: 0.5s;
        font-size: 15px;
    }

        .suKien .container .suKienContent .rowLon .suKienRight .content .suKienItemRight .rowRight .col-lg-7:hover {
            color: #CD2122;
            cursor: pointer;
        }
/*footer*/
.footer {
    padding: 1px 0;
    width: 100%;
    background-color: #252429;
    color: white;
}

    .footer .container {
        max-height: 300px;
    }

        .footer .container .rowLon {
            margin: 50px 0 0 0;
        }

            .footer .container .rowLon .rowLienHe .item .title {
                margin: 0 0 15px 0;
                font-size: 18px;
                font-weight: bold;
            }

            .footer .container .rowLon .rowLienHe .item .content {
                padding: 0;
                min-height: 150px;
            }

                .footer .container .rowLon .rowLienHe .item .content ul li {
                    margin: 5px 0;
                }

                    .footer .container .rowLon .rowLienHe .item .content ul li a {
                        color: #bbbbbb;
                        transition: .5s;
                    }

                        .footer .container .rowLon .rowLienHe .item .content ul li a:hover {
                            color: red;
                            cursor: pointer;
                        }

            .footer .container .rowLon .diaChi .title {
                font-size: 17px;
                font-weight: bold;
            }

            .footer .container .rowLon .diaChi .content {
                color: #bbbbbb;
            }

    .footer .copyRight {
        text-align: center;
        color: #bbbbbb;
        padding: 30px 0;
        background-color: #1F1E23;
    }
